.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

.sidebar.open + .overlay {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background: #092634;
  color: white;
  transition: left 0.3s ease-in-out;
  z-index: 9999;
}

.sidebar.open {
  left: 0;
}

.sidebar-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.close-sidebar {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin: 15px 0;
}

.sidebar-nav a {
  color: white;
 text-decoration: none !important;;
  font-size: 16px;
}

.sidebar-nav a:hover {
  text-decoration: underline;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  background-color: #1c4f4b;
  padding: 5px;
  border-radius: 5px;
}


.nav-heading {
  display: none;
}


.support-sidebar-nav{
    padding: 5px 20px;
    background-color: var(--secendory-color);
    border: 1px solid var(--secendory-color);
    border-radius: 50px;
    color: #fff;
    font-size: 14px !important;
    font-family: "Satoshi-Variable";
    font-weight: 600;
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar {
    display: block;
  }

  .hamburger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .support {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .sidebar {
    display: block;
  }

  .hamburger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .support {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .sidebar {
    display: block;
  }

  .hamburger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .support {
    display: none;
  }
}
